<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" type="text/css" media="all" />
    <script
      defer
      src="./JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <title>Node.js</title>
  </head>
  <body class="flex-col">
    <%- include('./partials/Nav.html') %>
  	<%- include('./partials/Header.html'); %>
    <form method="post" accept-charset="utf-8" autocomplete="off">
      <label for="command">New Command</label>
      <input type="text" name="command" id="command" />
      <label for="desc">Description</label>
      <input type="text" name="desc" id="desc" />
      <button type="submit">Add</button>
    </form>
    <section class="commands-container">
      <div class="list">
    	  <% commands.forEach((item) => { %>
    	  	<div class="item">
    	  		<h2> <%= item.Command %> </h2>
    	  		<p> <%= item.Description %> </p>
    	  	</div>
      	<% }); %>
      </div>
    </section>
  </body>
</html>
