<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <script
      defer
      src="script.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <title>Node.js</title>
  </head>
  <body>
    <h1>NPM Commands</h1>
    <form method="post" accept-charset="utf-8">
      <label for="command">New Command</label>
      <input type="text" name="command" id="command" />
      <label for="desc">Description</label>
      <input type="text" name="desc" id="desc" />
      <button type="submit">Add</button>
    </form>
    <section class="commands-container">
      <div class="list">
    	  <% commands.forEach((item) => { %>
    	  	<div class="item">
    	  		<h2> <%= item.Command %> </h2>
    	  		<p> <%= item.Description %> </p>
    	  	</div>
      	<% }); %>
      </div>
    </section>
  </body>
</html>
