<footer>
	<p>@npm.org<br/> all rights reserved<br/><strong. class="date"></strong></p>
	<div class="social">
    <i class="fa-brands fa-npm"></i>
    <i class="fa-solid fa-share-nodes"></i>
    <i class="fa-solid fa-code"></i>
	</div>
</footer>