<div class="user-menu-toggle">
   <i class="fa-solid fa-arrow-left"></i>
</div>
<div class="user-menu">
	<ul>
		<li><a href="/updateinfo">Update Info</a></li>
		<li><a href="/deleteuser">Delete Account</a></li>
	</ul>
</div>