<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../styles/dashboard.css" type="text/css" media="all" />
    <script
      defer
      src="../JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <title>Document</title>
</head>
<body>
	<%- //include('../partials/Nav.html'); %>
<nav class="flex-reg">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
	<%- include('../partials/Header.html'); %>
    <h1> <%= name %> </h1>
    <script>
      const token = localStorage.getItem('token');
      console.log(localStorage);
    </script>
</body>
</html>