<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../styles/register.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../partials/Footer/Footer.css" />
    <script
      defer
      src="../JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
    <title>Node.js</title>
  </head>
  <body>
  	<%- include('../partials/Nav.html'); %>
  	<%- include('../partials/Header.html'); %>
  	<h1 class="register-heading">Register For A New Account!</h1>
    <h2>
      <%= typeof err!=='undefined' ? err : '' %>
    </h2>
  	<form action="/register" method="post">
  		<label for="username">Username</label>
  		<input type="text" name="username" id="username" />
  		<label for="email">Email</label>
  		<input type="email" name="email" id="email"/>
  		<label for="registerPassword">Password</label>
  		<input type="password" name="password" id="password"/>
  		<button type="submit">Create Account</button>
  	</form>
      <%- include('../partials/Footer/Footer.ejs'); %>
  </body>
  </html>